html {
    background-color: black;
    width: 100vw;
}
body {
    background: rgb(83,35,150);
    background: radial-gradient(circle, rgba(83,35,150,0.3) 0%, rgba(99,9,121,0.3) 50%, rgba(83,35,150,0.3) 100%);    
    color: white;
    height: 100vh;
}

.button {
    border-radius: 100px;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.playful {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
    border-radius: 100px;
}

.button.button-answer,
button.button-answer,
input[type="submit"].button-answer,
input[type="reset"].button-answer,
input[type="button"].button-answer {
  font-size: 3rem;
  margin: 2rem;
  padding: 10px 30px;
  height: auto;
}

input {
  color: black;
}

#waiting {
  margin-top: 0rem;
}
 
#char_img {
  position: relative;
  max-height: 400px;
  max-width: 80%;
  margin: 3rem auto 0rem;
}

#gameover {
  margin-top: 0rem;
  width: 100%;
}

@media (min-width: 550px) {
    .hero {
        padding-bottom: 12rem;
        text-align: left;
        height: 165px;
    }
    .playful {
        position: absolute;
        top: -2rem;
        right: 3rem;
        max-height: 262px;
        z-index: 3;
    }
    .hero-heading {
        font-size: 2.4rem;
    }    
    #waiting {
      margin-top: -7rem;
    }
}

@media (min-width: 750px) {
    .hero {
      height: 190px;
    }
    .hero-heading {
      font-size: 2.6rem;
    }
    .section {
      padding: 14rem 0 15rem;
    }
    .hero {
      padding: 16rem 0 14rem;
    }
    .section-description {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .playful {
      top: -14rem;
      right: 5rem;
      max-height: 390px;
    }
    #waiting {
      margin-top: -12rem;
    }
    #char_img {
      position: absolute;
      top: -2rem;
      right: 3rem;
      max-height: 250px;
      max-width: 200px;
      z-index: 3;
    }
}

@media (min-width: 1000px) {
    .section {
      padding: 20rem 0 19rem;
    }
    .hero {
      padding: 22rem 0;
    }    
    .hero-heading {
      font-size: 3.0rem;
    }
    .playful {
      top: -22rem;
      max-height: 615px;
    }

    #waiting {
      margin-top: -20rem;
    }
    #char_img {
      position: absolute;
      top: -2rem;
      right: 3rem;
      max-height: 500px;
      max-width: 400px;
      z-index: 3;
    }
}