html {
    background-color: black;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
}
body {
    background: rgb(83,35,150);
    background: radial-gradient(circle, rgba(83,35,150,0.3) 0%, rgba(99,9,121,0.3) 50%, rgba(83,35,150,0.3) 100%);
    color: white;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

body.admin {
    background: rgb(0,0,0);
    color: white;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

.green {
  background-color: #66BB6A;
  border-color: #66BB6A; 
}
.red {
  background-color: #EF5350;
  border-color: #EF5350; 
}

.button {
    border-radius: 100px;
}
.gamemaster.section {
  padding: 2rem 0 7rem;
  text-align: center;
}

.button-row {
  padding-top: 2rem;
}

.newgame_spot {
  padding-top: 32rem;
}

.section {
    padding: 8rem 0 7rem;
    text-align: center;
}
.section-heading,
.section-description {
    margin-bottom: 1.2rem;
}

.playful {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
    border-radius: 100px;
}

.button.button-answer,
button.button-answer,
input[type="submit"].button-answer,
input[type="reset"].button-answer,
input[type="button"].button-answer {
  font-size: 3rem;
  margin: 2rem;
  padding: 10px 30px;
  height: auto;
}

select,
textarea,
input {
  color: black;
}

#waiting {
  margin-top: 0rem;
}
 
#char_img {
  position: relative;
  max-height: 400px;
  max-width: 80%;
  margin: 3rem auto 0rem;
}

#gameover {
  margin-top: 0rem;
  width: 100%;
}

#player_list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.center {
  text-align: center;
}

.player_avatar {
  max-width: 80px;
  max-height: 80px;
}

.player_avatar_list {
  max-width: 50px;
  max-height: 50px;
}

.player_avatar_waiting {
  max-width: 80px;
  max-height: 80px;
}

#answer_chart.column {
  --color: #EF5350;
  height: 500px;
  max-width: 1000px;
  margin: 0 auto;
  --heading-size: 15rem;  
  --labels-size: 10rem;  
}

#answer_chart.bar {
  height: 500px;
  max-width: 1000px;
  margin: 0 auto;
  --heading-size: 5rem;  
  --labels-size: 10rem;  
}

#answer_chart caption {
  font-size: 3rem;
}

#answer_chart td {
  font-size: 4rem;
}

#answer_chart.column th {
  font-size: 2rem;
  padding: 10px;
}

#answer_chart.bar th {
  font-size: 1.5rem;
  padding: 10px;
}

#answer_chart.column tbody td {
  transform-origin: bottom;
  animation: revealing-rows 4s linear;
}
@keyframes revealing-rows {
  0%  { transform: scaleY( 0 ); }
  15% { transform: scaleY( 1 ); }
}
#answer_chart.bar tbody td {
  transform-origin: left;
  animation: revealing-bars 4s linear;
}
@keyframes revealing-bars {
  0%  { transform: scaleX( 0 ); }
  15% { transform: scaleX( 1 ); }
}

#answer_chart.column td {
  border-radius: 15px 15px 0 0;
  border: 1px solid var(--color);
  margin: 10px;
}

#waiting_room {
  margin-top: -12rem;
}

@media (min-width: 550px) {
    .hero {
        padding-bottom: 12rem;
        text-align: left;
        height: 165px;
    }
    .playful {
        position: absolute;
        top: -2rem;
        right: 3rem;
        max-height: 262px;
        z-index: 3;
    }
    .hero-heading {
        font-size: 2.4rem;
    }    
    #waiting {
      margin-top: -7rem;
    }

    .player_avatar {
      max-width: 120px;
      max-height: 120px;
    }    
}

@media (min-width: 750px) {
    .hero-heading {
      font-size: 2.6rem;
    }
    .section {
      padding: 14rem 0 15rem;
    }
    .hero {
      padding: 16rem 0 14rem;
    }
    .section-description {
      max-width: 60%;
      margin-left: auto;
      margin-right: auto;
    }
    .playful {
      top: -14rem;
      right: 5rem;
      max-height: 390px;
    }
    #waiting {
      margin-top: -12rem;
    }
    #char_img {
      position: absolute;
      top: -2rem;
      right: 3rem;
      max-height: 250px;
      max-width: 200px;
      z-index: 3;
    }
    .player_avatar {
      max-width: 140px;
      max-height: 140px;
    }    
}

@media (min-width: 1000px) {
    .section {
      padding: 20rem 0 19rem;
    }
    .hero {
      padding: 22rem 0;
    }    
    .hero-heading {
      font-size: 3.0rem;
    }
    .playful {
      top: -22rem;
      max-height: 615px;
    }

    #waiting {
      margin-top: -20rem;
    }
    #char_img {
      position: absolute;
      top: -2rem;
      right: 3rem;
      max-height: 500px;
      max-width: 400px;
      z-index: 3;
    }
    .player_avatar {
      max-width: 200px;
      max-height: 200px;
    }    
}